/*
=============== 
Variables
===============
*/

:root {
  --cell-size: 100px;
  --cross-size: calc(var(--cell-size) * 0.9);
  --circle-size: calc(var(--cell-size) * 0.8);
}

/*
=============== 
Global Styles
===============
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: linear-gradient(
    -45deg,
    rgb(255, 111, 207),
    rgb(0, 166, 255),
    rgb(0, 255, 26)
  );
  background-size: 200% 200%;
  animation: gradient 10s ease infinite; */
}
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

/* board */
.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after,
.board.circle .cell:not(.cross):not(.circle):hover::before {
  background: lightgray !important;
}

/* cell */
.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* cross */
.cell.cross::before,
.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after {
  position: absolute;
  content: "";
  width: calc(var(--cross-size) * 0.15);
  height: var(--cross-size);
  background-image: linear-gradient(
    to top,
    #78b3ed,
    #5ea5ef,
    #4396ef,
    #2786ef,
    #0076ed
  );
}
.cell.cross::before,
.board.cross .cell:hover::before {
  transform: rotate(45deg);
}
.cell.cross::after,
.board.cross .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.cross,
.cell.circle {
  cursor: not-allowed;
}

/* circle */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::before,
.board.circle .cell:not(.cross):not(.circle):hover::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.cross):not(.circle):hover::before {
  width: var(--circle-size);
  height: var(--circle-size);
  background-image: linear-gradient(
    to top,
    #b4e58b,
    #a9dd72,
    #a0d557,
    #97cd39,
    #8fc400
  );
}
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::after {
  width: calc(var(--circle-size) * 0.7);
  height: calc(var(--circle-size) * 0.7);
  background: #fff;
}

/* result */
.result {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 5rem;
  flex-direction: column;
}
.result.show {
  display: flex;
}
.result-text {
  background: -webkit-linear-gradient(#fff, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result-text.cross {
  background: -webkit-linear-gradient(#78b3ed, #0076ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.result-text.circle {
  background: -webkit-linear-gradient(#b4e58b, #8fc400);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result button {
  font-size: 3rem;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.1em;
}
.result button:hover {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}
